{% load staticfiles %}
{% load hitcount_tags %}

<div class="well well-sm">
    <div class="media">
        <div class="media-left">
            <a href="{% url 'see_model3d' model3d.slug %}">
                <img class="media-object" style="width: 95px; height: 95px" src="{% static model3d.picture.url %}" alt="{{ model3d.description }}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><strong>{{ model3d.name }}</strong> - by {{ model3d.user.username | capfirst }}</h4>
            {{ model3d.description | truncatechars:175 }}<br>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {% get_hit_count for model3d %}
        </div>
    </div>
</div>